PORT=3001
NODE_ENV=production
MONGODB_URI=mongodb://localhost:27017/redteamtoolkit
VT_API_KEY=your_virustotal_key_here
ABUSEIPDB_API_KEY=your_abuseipdb_key_here
NMAP_BIN=nmap
NUCLEI_BIN=nuclei
WHATWEB_BIN=whatweb
